<h1>Listing post_ids</h1>

<table>
  <thead>
    <tr>
      <th>Interger</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_ids.each do |post_id| %>
      <tr>
        <td><%= post_id.interger %></td>
        <td><%= post_id.body %></td>
        <td><%= link_to 'Show', post_id %></td>
        <td><%= link_to 'Edit', edit_post_id_path(post_id) %></td>
        <td><%= link_to 'Destroy', post_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_id_path %>
